<a href="https://colab.research.google.com/github/faithfulness121/beginner-project/blob/main/Guess_game.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

number = random.randint(1, 100)

print("Welcome to the Guess the Number game!")
print("I'm thinking of a number between 1 and 100. Can you guess what it is?")

while True:
    guess = int(input("Enter your guess: "))

    if guess < number:
        print("Your guess is too low. Guess again.")
    elif guess > number:
        print("Your guess is too high. Guess again.")
    else:
        print("Congratulations! You guessed the number correctly!")
        break

Welcome to the Guess the Number game!
I'm thinking of a number between 1 and 100. Can you guess what it is?
Enter your guess: 50
Your guess is too high. Guess again.
Enter your guess: 25
Your guess is too low. Guess again.
Enter your guess: 37
Your guess is too low. Guess again.
Enter your guess: 20
Your guess is too low. Guess again.
Enter your guess: 21
Your guess is too low. Guess again.
Enter your guess: 60
Your guess is too high. Guess again.
Enter your guess: 30
Your guess is too low. Guess again.
Enter your guess: 47
Congratulations! You guessed the number correctly!

Define the list: list = [17, 38, 10, 25, 72], then perform the following actions:

    Sort and display the list
    Add the element 12 to the list and display the list
    Reverse and display the list
    Display the index of the element 17
    Remove the element 38 and display the list
    Display the sublist from the 2nd to the 3rd element
    Display the sublist from the beginning to the 2nd element
    Display the sublist from the 3rd element to the end of the list
    Display the complete sublist of the list
    Display the last element using negative indexing.

In [ ]:
number = [17, 38, 10, 25, 72]
print("original list:",number)
number.append(12)

print("updated list:",number)
number.reverse()
print("reversed list:",number)
print("index of 17:",number.index(17))
number.remove(38)
print("updated list:",number)
print("sublist from the 2nd to the 3rd element:",number[1:3])
print("sublist from the beginning to the 2nd element:",number[:2])
print("sublist from the 3rd element to the end of the list:",number[2:])
print("complete sublist of the list:",number[:])
print("last element using negative indexing:",number[-1])

original list: [17, 38, 10, 25, 72]
updated list: [17, 38, 10, 25, 72, 12]
reversed list: [12, 72, 25, 10, 38, 17]
index of 17: 5
updated list: [12, 72, 25, 10, 17]
sublist from the 2nd to the 3rd element: [72, 25]
sublist from the beginning to the 2nd element: [12, 72]
sublist from the 3rd element to the end of the list: [25, 10, 17]
complete sublist of the list: [12, 72, 25, 10, 17]
last element using negative indexing: 17

In [ ]:
set1 ={'1','2','3','4','5'}
set2 ={'4','5','6','7','8'}

In [ ]:
set1.union(set2)

{'1', '2', '3', '4', '5', '6', '7', '8'}

In [ ]:
print(set1.intersection(set2))

{'4', '5'}

In [ ]:
print(set1.difference(set2))

{'1', '2', '3'}

In [ ]:
print(set1.symmetric_difference(set2))

{'1', '7', '2', '8', '6', '3'}

In [ ]:

x =("1","2","3",)
y=list(x)
y.append("4")
x=tuple(y)
print(x)

('1', '2', '3', '4')

In [ ]:
def greet():
  print("hello faith")

In [ ]:
print(greet())

hello faith
None

In [ ]:
# function
def course_func(name, course_name):
    print("Hello", name, "Welcome to PYnative")
    print("Your course name is", course_name)
    course_func("David", "python")

In [ ]:
def add_numbers(num1, num2):
    sum = num1 + num2
    print("sum:", sum)
    add_numbers(5, 4)

    print(add_numbers)

In [ ]:
num1 =3
num2 =4

In [ ]:
a =[1,2,3,4]

In [ ]:
print(len(a))

4

In [ ]:
for i in a:
  print(i)

1
2
3
4

In [ ]:
me = ['l','i','s','t','e']

In [ ]:
print(len(me))

5

In [ ]:
for i in me:
  print(i)

l
i
s
t
e

In [ ]:
def length(liste):
  s = 0

In [ ]:
for i in length:

SyntaxError: incomplete input (<ipython-input-87-5fc2d64f154a>, line 3)

In [ ]:
n1 =100
n2=1000

In [ ]:
from ast import Return
def add_numbers(n1=100, n2=1000):
    result = n1 + n2
    return(result)
result = add_numbers(5.3)
print(result)

1005.3

In [ ]:
a =2
b=1

In [ ]:
def add_numbers(a,b):
      sum = a + b
      return(sum)
result= add_numbers(2,1)
print(result)

3

In [ ]:
num1 =float(input("enter first Number"))
num2 =float(input("enter second Number"))

def calculator(num1,num2):
  Operator = input("enter the operator(+, -, *, /): ")
  if Operator == '+':
    print(num1 + num2)
  elif Operator == '-':
    print(num1 - num2)
  elif Operator == '*':
    print(num1 * num2)
  elif Operator == '/':
    print(num1 / num2)
  else:
    print("Invalid Operator")
(calculator(num1, num2))

enter first Number10
enter second Number5
enter the operator(+, -, *, /): *
50.0

In [ ]:

class player:
  def __init__(self,name,hp):
    self.name = name
    self.hp =100

  def take_damage(self,damage):
    self.hp -= damage

player1 =player("weldone", 100)

player1.take_damage(20)
print(player1.hp)

print(f"({player1.name}) has ({player1.hp}) hitpoint remaining.")

80
(weldone) has (80) hitpoint remaining.

In [ ]:

class account:
         def __init__(self,account_number:str, account_balance:float,account_holder:str):
          self.account_number = account_number
          self.account_balance = account_balance
          self.__account_holder =account_holder


         def deposit(self,amount:float):
            self.account_balance += amount
            return(self.account_balance)


         def withdraw(self,amount:float):
              if self.account_balance >= amount:
                self.account_balance -= amount
                print(f"withdraw of {amount} was successfully")
                return(self.account_balance)
              else:
                      print(f"insufficient balance")
                      print(self.account_balance)

         def check_balance(self):
               return(self.account_balance)







#creating an instance of the account clas

In [ ]:
import numpy as np

In [ ]:
grades =np.array([[85, 90, 88, 92, 95, 80, 75, 98, 89, 83]])

In [ ]:
np.mean(grades)

np.float64(87.5)

In [ ]:
np.median(grades)

np.float64(88.5)

In [ ]:
("arr : ", grades)
print("std of grades: ", np.std(grades))

arr :  [[85 90 88 92 95 80 75 98 89 83]]
std of grades:  6.591661399070799

In [ ]:
np.argmax(grades)

np.int64(7)

In [ ]:
np.sort(grades)

array([[75, 80, 83, 85, 88, 89, 90, 92, 95, 98]])

In [ ]:
print("arr :", grades)
print("std of grades: ", np.std(grades))

arr : [[85 90 88 92 95 80 75 98 89 83]]
std of grades:  6.591661399070799

In [ ]:
count =np.sum(grades>90)
print(count)

3

In [ ]:
above_90 = np.mean(grades > 90)*100
print(above_90)

30.0

In [ ]:
75 =np.grades(grades >75)
print(75)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-17-04df2a9745ba>, line 1)